*{
    margin: 0;
    padding: 0;
}

.Navbar{
   width: 70px;
    height: 100vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: #5686E1;
    color: white;
    overflow: hidden;
}

.active{
    width: 200px;
    transition: ease 1s;
}

.links{
    list-style: none;
    font-size: 0.8rem;
    padding: 1rem;
    height: 94%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.links>li{
    display: flex;
    align-items: center;
    gap: 1.5rem;
     padding: 0.5rem;
     
}
.links>li:hover{
    background-color:  #3b5d9c;
    cursor: pointer;
   

}
.links>li:first-child:hover{
    background-color: #5686E1;
}
@media screen and (max-width: 500px){

    .Navbar{
        width: 100%;
         height: 70px;
         box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
         background-color: #5686E1;
         color: white;
         overflow: hidden;
       
     }
     
     .active{
         width: 100%;
         height: 500px;
         transition: ease 1s;
     }
   
}