*{margin: 0;
    padding: 0;
    font-family: sans-serif;
    }
    .navbarbody{
        display: flex;
         flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    
    }
    .linksparentbody{
      display: flex;
      align-items: center;
      gap:2rem;
    }
    .navbarlinks{
      display: flex;
      align-items: center;
      gap: 1rem;
      cursor: pointer;
  
  }
  .navbarlinks>a{
    color: black;
    font-weight: 600;
    font-family: sans-serif;
    text-decoration: none;
    
  } 
  .navbarlinks>a:hover{
    border-bottom: solid;
    border-color: #2D6056;
  }
    .navbarlinks>button{
        padding: 0.5rem 1rem 0.5rem 1rem;
        border-radius: 1rem;
        border: none;
        font-size: 1rem;
        font-weight: 700;
        background-color:#2D6056 ;
        color: white;
    }
  
    .closeicon>span{
      font-size: 2.5rem;
    }
   .closeicon{
    display: none;
   }
 
  /* #cross{
    display: none;
  }
  #menu{
    display: none;
  } */
    @media screen and (max-width: 600px){
      .navbarbody{
        display: flex;
        flex-direction: column;
          position: relative;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        
    }


    
    .closeicon{
      display: block;
      font-size: 2rem;
     }
      .linksparentbody{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        gap:2rem;
        
      } 
      .navbarlinks{
        display: none;
        margin-top: 1rem;
       flex-direction: column;
       margin-bottom: 1rem;
        align-items: center;
            
  
    }
 
    .active{
      display: flex;
    } 
 
    }
    